* {
    background-color: #3A4328;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0px 20px 0px 20px;
    border-bottom: 2px solid #6E7153
}

h1 {
    display: flex;
    justify-content: center;
    width: 500px;
}

.logo {
    height: 50px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.text {
    height: 25px;
    padding-right: 10px;
}